.wrappert {
  width: 100%;
  position: relative;
  border: 1px solid #000;
  background: #efefef;
  overflow: hidden;
  
}

.left {
  float: left;
}

.box {
  border: 1px solid #000;
  width: 400px;
}

.containert {
  overflow-y: scroll;
  height: 200px;
  
  
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

td + td {
  border-left: 1px solid #fff;
}

td, th {
  border-bottom: 1px solid #fff;
  background: #efefef;
  padding: 10px;
}

thead tr th,
tfoot tr td {
  height: 0;
  line-height: 0;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: transparent;
  border: none;
  white-space: nowrap;
}

thead tr th div,
tfoot tr td div {
  position: absolute;
  color: #fff;
  padding: 10px;
  margin-left: -10px;
  line-height: normal;
  width: 100%;
  z-index: 2;
  text-align: left;
  font-weight: bold;
}

thead tr th div {
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

tfoot tr td div {
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}

tfoot tr td div.c1,
thead tr th div.c1 {
 
}

tfoot tr td div.c2,
thead tr th div.c2 {
 
}

tfoot tr td div.c3,
thead tr th div.c3 {
  
}

thead tr th div {
  top: 0;
}

tfoot tr td div {
  bottom: 0;
}

thead tr th:first-child div,
tfoot tr td:first-child div {
  border-left: none;
}
